

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora:ital@1&display=swap');
body{
    font-family: Lato, Lola, sans-serif;
    padding: 0;
    margin: 0;
}

#content{
    max-width: 160px;
    background-color: beige;
    margin: 0 auto;
}
a{
    background-color: lightblue;
    color: rgb
}

nav{
    background-color:aqua;
    color: black;
    text-decoration:none;
    padding: 10px;
    margin: 5xp;
    text-align: center;
}
a.hover {
    background-color: darkgrey;
    color: white;
}
   
nav {
        display: flex;
        justify-content:center;
    }
h1{
    font-size: 2em;
    text-align: center;
}
img {
    width: 50%;
    display: block;
    border: 3px solid lightblue;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}
p {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    
}
.background{
    background-color: #ccc;
}
footer{
    background-color:aqua;
    color: black;
    text-decoration:none;
    padding: 10px;
    margin: 5xp;
    text-align: center;
}
footer p{
    text-align: center;
}