@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora:ital@1&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #396E94   ;
  --secondary-color: #E7C24F ;
  --accent1-color: #A42212;
  --accent2-color: #AABD8C;

  /* change the values below to your chosen font(s) */
  --heading-font: lora, Arial, "IM Fell French Canon SC";
  --paragraph-font: Lato, Arial, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}

.logo{
    width: 80px;
}
#logo_link{
    width: 25%;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav{
    display:flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around
}
body {
    background-color: #fcfbfb;
    font-family: Lato, Lora, sans-serif; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content{

    margin: 0 auto;
    max-width: 1600px;
}
footer{
    background-color: grey;
    color: beige;
    text-decoration: none;
   
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
 header {
        background-color:rgba(20,30,13, .7);
        display: grid;
        grid-template-columns: 150px auto;
    }

.mission {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto; /* Corrected syntax */
        margin: 100px 75px;
 }
    
.mision-card{
    grid-column: 1/2;
    grid-row: 2/3;
}
.title{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
.mission-text {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: 50px;
}
#pool1 {
    width: 85%;
    justify-items: center;
    margin-left: 75px;

}
.card-img {
    width: 75%;
    height: 75%;
    justify-items: center;
    margin-left: 50px;
    margin-top: 25px;
}
.test-img{
    width: 50%;
    height: 50%;
}
/* .top-grid{
  display:grid;
  grid-template-columns: 700px 700px;
  grid-template-rows: 300px 300px 300px;
} */
.top-grid{
    display: flex;
    justify-content: space-evenly;
}
.miguel-card{
    width: 500px;
}
.miguel-img{
    width: 500px;
    height: 300px;
    object-fit: cover;
}
.amelia-card{
    width: 500px;
    height: 300px;
    justify-items: center;
}
.amelia-img{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.bottom-grid{
    display: flex;
    justify-content: space-evenly;
}

.goldfish-img{
    grid-column: 1/2;
    width: 75%;
    height: 50%;
   
}

.pufferfish-img{
    grid-column: 2/3;
    width: 75%;
    height: 50%;

}

.dolphine-img{
    grid-column: 3/4;
   width: 75%;
   height: 50%;
}

.lessons-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 300px;
}

.lessons-card img{
    width: 300px;
    height: 200px;
}

.lessons-card p, .lessons-card h2{
    margin: 0;
    padding: 0;
}

footer a{
    color: beige;
    padding: 5px 5px;
    text-decoration: none;
}
footer a:hover{
    color: beige;}
.upper-grid{
    display: flex;
    justify-content: space-between;
}
.floating{
    width: 20%;
    height: 20%;
}
.diving{
    width: 25%;
    height: 25%;
    
}
.underwater{
    width: 25%;
    height: 10%;
}
.strokes-card{
    width: 20%;
    height: 25%;
}
